@import "normalize&reset.scss";

$white: #FFFFFF;
$mediumWhite: #FAFAFA;
$lightYellow: #FEFAF1;
$black: #000000;
$gray: #7D8184;
$mediumGray: #F5F5F5;
$orange: #D37643;
$red: #DB4444;
$redHover: #FC4848;
$mediumRed: #E07575;
$green: #00FF66;
$blue: #A0BCE0;

$br: 4px;
$trs: 0.3s;

$tabletL: 1024px;
$tabletM: 820px;
$mobileL: 768px;
$mobileM: 580px;
$mobileS: 480px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
//font-family: "Inter", sans-serif;

body {
	font-family: "Poppins", sans-serif;
}

.redBtn {
	display: block;
	width: fit-content;
	padding: 16px 48px;
	background: $red;
	color: $white;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	border-radius: $br;
	transition: all $trs;

	&:hover {
		background: $redHover;
	}
}

.hoveredicon {
	span,
	a {
		transition: $trs;
	}

	svg {
		path {
			transition: $trs;
		}
	}

	&:hover {
		svg {
			path {
				stroke: $red;
			}
		}
	}

	&:hover {
		span {
			background: $red !important;
		}
	}

	&.header__menu__item {
		&:hover {
			a {
				color: $red !important;
			}

			svg {
				path {
					fill: $red;
				}
			}
		}
	}
}

.container {
	max-width: 1234px;
	padding: 0px 32px;
	margin: 0 auto;
}

.top__header__section {
    background: $black;

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 48px;
        gap: 231px;

        .top__header__text {
            p {
                color: $mediumWhite;
                font-size: 14px;
				margin: 0;

                a {
                    margin-left: 8px;
					color: $mediumWhite;
					font-weight: 600;
                }

            }
        }

        .top__header__langs {
            select {
                appearance: none;
                background: none;
                color: #fff;
                border: none;
                outline: 0;
                cursor: pointer;
				select

                option {
                    appearance: none;
                    background: $black;
                    border: none;
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: $tabletL) {
			gap: 115px;
		}

        @media screen and (max-width: $tabletM) {
			flex-wrap: wrap;
			justify-content: center;
			gap: 16px;
			padding-top: 16px;
			padding-bottom: 16px;
			text-align: center;

			.top__header__text {
				width: 100%;
			}
		}
    }
}

nav {
    border-bottom: 0.5px solid #0000004d;

    .container {
        display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 16px;

        .nav__logo {
            h2 {
                a {
                    color: $black;
					text-decoration: none;
					font-size: 24px;
					font-family: "Inter", sans-serif;
					font-weight: 700;
                }
            }
        }

        .nav__menu {
            display: flex;
			gap: 48px;

            .nav__menu__item {
                a {
                    position: relative;
					text-decoration: none;
					color: $black;
					font-size: 16px;

                    &::before {
						content: "";
						width: 0%;
						height: 1px;
						background: #00000080;
						position: absolute;
						left: 0;
						bottom: -5px;
						transition: $trs;
					}

                    &:hover {
						&::before {
							width: 100%;
						}
					}
                }
            }

			form {
				display: none;
			}
        }

        .nav__icons {
            display: flex;
			align-items: center;
			gap: 24px;

            form {
                position: relative;

                input {
                    background: $mediumGray;
					border-radius: $br;
					padding: 7px 45px 7px 20px;
					border: none;
					outline: 0;
					width: 243px;
					height: 38px;
					font-size: 14px;
					color: #00000080;

					&::placeholder {
						font-size: 12px;
						color: #00000080;
					}
                }

                button {
					position: absolute;
					right: 12px;
					top: 8px;
					border: none;
					background: none;
					cursor: pointer;
				}
            }

            .nav__icons__end {
                display: flex;
				justify-content: end;
				align-items: center;
				gap: 16px;

                .to__wish__list__btn,
				.to__basket__btn {
					a {
						display: block;

						svg {
							display: block;
							width: 100%;
							height: 100%;
						}
					}
				}

				.burger__menu {
					display: none;
					flex-direction: column;
					justify-content: space-between;
					align-content: space-between;
					width: 30px;
					height: 20px;

					span {
						display: block;
						background: $black;
						width: 100%;
						height: 2px;
						border-radius: $br;
						transition: 0.3s;
					}

					&.active {
						span:nth-child(1) {
							transform: rotate(-45deg) translate(-7px, 7px);
						}

						span:nth-child(2) {
							display: none;
						}

						span:nth-child(3) {
							transform: rotate(45deg) translate(-5.5px, -5px);
						}
					}
				}
            }
        }

		@media screen and (max-width: $tabletL) {
			.nav__menu {
				gap: 24px;
			}

			.nav__icons {
				form {
					input {
						width: 200px;
						padding: 7px 45px 7px 10px;
					}
				}
			}
		}

		@media screen and (max-width: $tabletM) {
			.nav__icons {
				form {
					input {
						width: 150px;
					}
				}
			}
		}

		@media screen and (max-width: $mobileL) {
			margin-top: 8px;
			margin-bottom: 8px;
			position: relative;

			.nav__icons {
				form {
					display: none;
				}

				.nav__icons__end {
					.burger__menu {
						display: flex;
						cursor: pointer;
					}
				}
			}

			.nav__menu {
				display: none;
				position: absolute;
				flex-direction: column;
				background: #fff;
				width: 100%;
				left: 0;
				top: 85px;
				gap: 0px;

				.nav__menu__item {
					border-bottom: 0.5px solid #eee;

					a {
						display: block;
						padding: 32px;
						transition: $trs;

						&::before {
							display: none;
						}

						&:hover {
							background: #eee;
						}
					}

					&:nth-child(4) {
						border-bottom: none;
					}
				}

				form {
					display: flex;
					padding: 16px 32px;

					input {
						background: $mediumGray;
						border-radius: $br 0px 0px $br;
						padding: 7px 45px 7px 20px;
						border: none;
						outline: 0;
						width: 100%;
						height: 38px;
						font-size: 14px;
						color: #00000080;

						&::placeholder {
							font-size: 12px;
							color: #00000080;
						}
					}

					button {
						background: $mediumGray;
						border-radius: 0px $br $br 0px;
						border: none;
						outline: 0;
						font-size: 14px;
						cursor: pointer;
					}
				}
			}
		}
    }
}

header {
	margin-top: 40px;

	@media screen and (max-width: 1110px) {
		margin-top: 20px;
	}

	.container {
		display: flex;
		gap: 64px;

		.header__menu {
			position: relative;

			.header__menu__item {
				margin-bottom: 16px;
				width: 217px;
				height: 24px;

				a {
					font-size: 16px;
					color: $black;
					text-decoration: none;
					white-space: nowrap;
					width: 100%;
					line-height: 24px;
				}

				&:last-child {
					margin-bottom: 0px;
				}
			}

			&::after {
				content: "";
				width: 0.5px;
				height: calc(100% + 40px);
				position: absolute;
				background: $black;
				top: -40px;
				right: -16px;
				opacity: 0.3;
			}
		}

		.header__slider {
			background: $black;
			max-width: 892px;
			min-height: 344px;

			.header__slider__content {
				display: flex;
				justify-content: space-between;

				.header__slider__left {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 58px 0px 0px 64px;

					.slider__title {
						display: flex;
						align-items: center;
						gap: 24px;

						img {
							display: block;
						}

						p {
							font-size: 16px;
							line-height: 24px;
							color: $mediumWhite;
						}
					}

					h2 {
						font-family: "Inter", sans-serif;
						font-size: min(48px, max(24px + 2vw));
						font-weight: 600;
						color: $mediumWhite;
						line-height: 60px;
						margin: 0px;
						letter-spacing: 0.04em;
					}

					.slider__link {
						a {
							display: flex;
							align-items: center;
							gap: 12px;
							text-decoration: none;
							width: fit-content;
							
							span {
								color: $mediumWhite;
								font-weight: 500;
								font-size: 16px;
								line-height: 24px;
								border-bottom: 1px solid $mediumWhite;
							}
						}
					}
				}

				.header__slider__right {
					width: 495px;
					height: 286px;
					padding-top: 16px;

					img {
						display: block;
						width: inherit;
						height: inherit;
					}
				}
			}

			.header__slider__scroll {
				display: flex;
				justify-content: center;
				gap: 12px;
				margin: 32px auto 12px auto;

				.dot {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: #fff;
					opacity: 0.5;
					cursor: pointer;

					&.active__dot {
						background: $red;
						border: 2px solid #fff;
						opacity: 1;
					}
				}
			}
		}

		@media screen and (max-width: 1110px) {
			gap: 20px;
			flex-wrap: wrap;

			.header__menu {
				display: flex;
				gap: 32px;
				position: unset;
				overflow-x: auto;
				overflow-y: hidden;

				&::-webkit-scrollbar {
					height: 8px;
				}

				&::after {
					display: none;
					position: unset;
				}
			}

			.header__slider {
				margin: 0 auto;
			}
		}

		@media screen and (max-width: 820px) {
			.header__slider {
				.header__slider__content {
					flex-wrap: wrap;
					justify-content: center;

					.header__slider__left {
						padding: 8px 0px 0px 8px;

						.slider__title {
							justify-content: center;
						}

						.slider__link {
							a {
								margin: 0 auto;
							}
						}
					}

					.header__slider__right {
						padding-top: 0px;
					}
				}

				.header__slider__scroll {
					margin-top: 16px;
				}
			}
		}

		@media screen and (max-width: $mobileM) {
			.header__slider {
				.header__slider__content {
					.header__slider__left {
						h2 {
							text-align: center;
							line-height: 45px;
						}
					}
					.header__slider__right {
						width: 100%;
						height: unset;
					}
				}
			}
		}
	}
}

main {
	margin-top: 140px;
	margin-bottom: 32px;

	.container {
		.items__template__section {
			border-bottom: 0.5px solid #00000030;
			margin-bottom: 70px;
			padding-bottom: 70px;

			&:nth-child(3) {
				border-bottom: unset;
			}

			&:nth-child(5) {
				border-bottom: unset;
			}

			&:nth-child(6) {
				border-bottom: unset;
			}

			@media screen and (max-width: $mobileM) {
				&:nth-child(6) {
					margin-bottom: unset;
				}
			}

			.its__category__title {
				color: $red;
				font-size: 16px;
				font-weight: 600;
				position: relative;
				padding-left: 32px;
				line-height: 40px;
				margin: 0px 0px 24px 0px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 20px;
					height: 40px;
					border-radius: $br;
					background: $red;
				}
			}

			.its__header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.itsh__left {
					display: flex;
					align-items: center;
					gap: 87px;

					.its__header__title {
						font-family: "Inter", sans-serif;
						font-weight: 600;
						font-size: min(36px, max(18px + 2vw));
						margin: 0;
						letter-spacing: 0.64px;
					}

					.timer {
						display: flex;
						align-items: center;
						gap: 17px;

						h5 {
							margin: 0;

							span {
								display: block;

								&:first-child {
									font-weight: 500;
									color: $black;
									margin-bottom: 4px;
									font-style: 12px;
								}

								&:last-child {
									font-size: min(32px, max(16px + 2vw));
									font-family: "Inter", sans-serif;
									font-weight: 700;
								}
							}
						}

						.seperator {
							margin-top: 12px;

							div {
								width: 4px;
								height: 4px;
								background: $red;
								border-radius: 50% 50%;
								margin-bottom: 8px;

								&:last-child {
									margin-bottom: unset;
								}
							}
						}
					}
				}

				.itsh__right {
					display: flex;
					gap: 8px;

					.left__btn, 
					.right__btn {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						width: 46px;
						height: 46px;
						border-radius: 50% 50%;
						cursor: pointer;

						svg {
							width: 20px;
							height: 20px;

							path {
								transition: fill $trs;
								fill: $black;
							}
						}

						&:first-child {
							svg {
								transform: rotate(180deg);
							}
						}

						&:hover {
							svg {
								path {
									fill: $red;
								}
							}
						}
					}
				}
			}

			.its__items {
				margin-top: 40px;
				display: flex;
				gap: 30px;

				.its__item {
					.its__item__header {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						padding: 12px;
						border-radius: $br;
						position: relative;
						max-width: 270px;
						max-height: 250px;
						min-width: 270px;
						min-height: 250px;
						overflow: hidden;

						.sale {
							position: absolute;
							top: 12px;
							left: 12px;
							display: flex;
							justify-content: center;
							align-items: center;
							width: fit-content;
							background: $red;
							font-size: 12px;
							color: $white;
							padding: 4px 12px;
							border-radius: $br;
							user-select: none;
						}

						.sale__eop {
							position: absolute;
							top: 12px;
							left: 12px;
							display: flex;
							justify-content: center;
							align-items: center;
							width: fit-content;
							background: $green;
							font-size: 12px;
							color: $mediumWhite;
							padding: 4px 12px;
							border-radius: $br;
							user-select: none;
						}

						.wishlist,
						.preview {
							background: $white;
							width: 34px;
							height: 34px;
							border-radius: 50% 50%;
							cursor: pointer;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						.wishlist {
							position: absolute;
							top: 12px;
							right: 12px;

						}
						
						.preview {
							position: absolute;
							top: 54px;
							right: 12px;
						}

						.to__basket {
							position: absolute;
							bottom: -100px;
							left: 0;
							width: 100%;
							padding: 8px 16px;
							text-align: center;
							background: $black;
							color: $white;
							cursor: pointer;
							transition: all $trs;

							&:hover {
								background: $green;
								color: $black;
							}

						}

						.image {
							max-width: 191px;
							max-height: 180px;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}
					}

					.its__item__title {
						font-weight: 500;
						margin: 16px 0px 0px 0px;

						a {
							text-decoration: none;
							color: $black;
							font-size: 16px;
						}
					}

					.its__item__price {
						display: flex;
						gap: 12px;
						margin: 8px 0px;

						.current__price,
						.old__price {
							margin: 0;
							font-weight: 500;
						}

						.current__price {
							color: $red;
						}

						.old__price {
							color: $black;
							opacity: 0.5;
							text-decoration: line-through;
						}

						.its__item__review {
							display: flex;
							align-items: center;
							gap: 8px;
	
							.comments__count {
								p {
									font-style: 14px;
									color: $black;
									opacity: 0.5;
									font-weight: 600;
									margin: 0;
								}
							}
						}
					}

					.its__item__review {
						display: flex;
						align-items: center;
						gap: 8px;

						.comments__count {
							p {
								font-style: 14px;
								color: $black;
								opacity: 0.5;
								font-weight: 600;
								margin: 0;
							}
						}
					}

					.its__item__dots {
						display: flex;
						gap: 8px;
					}

					&:hover {
						.its__item__header {
							.to__basket {
								bottom: 0px;
							}
						}
					}
				}
			}

			.categories {
				display: flex;
				gap: 30px;
				margin-top: 60px;

				.category {
					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 170px;
						height: 145px;
						border: 1px solid #00000030;
						border-radius: $br;
						transition: all $trs;
						text-decoration: none;

						svg {
							margin-bottom: 16px;

							path,
							line {
								transition: inherit;
							}
						}

						span {
							font-style: 16px;
							color: $black;
							transition: inherit;
						}

						&:hover {
							background: $red;
							border-color: $red;

							svg {
								path,
								line {
									stroke: $white;
								}
							}

							span {
								color: $white;
							}
						}
					}
				}
			}

			.redBtn.bottom {
				margin: 60px auto 0px auto;
			}
		}

		.items__template__section.bsp {
			@media screen and (max-width: 1234px) {
				.its__items {
					flex-wrap: wrap;
					justify-content: center;
				}
			}

			@media screen and (max-width: $mobileM) {
				.its__header {
					flex-direction: column;
					gap: 16px;

					.itsh__left {
						.its__header__title {
							text-align: center;
						}
					}

					.itsh__right {
						.redBtn {
							padding: 12px 36px;
						}
					}
				}
			}
		}

		.top__offers {
			display: flex;
			justify-content: space-between;
			max-width: 1170px;
			padding: 70px 58px;
			background: $black;
			margin-bottom: 70px;

			.top__offer__left {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.top__offer__categories	{
					margin: 0;

					a {
						font-weight: 600;
						font-style: 16px;
						text-decoration: none;
						color: $green;
					}
				}

				.top__offer__title {
					margin: 0;
					font-family: "Inter", serif;
					font-weight: 600;
					font-size: min(48px, max(24px + 2vw));
					letter-spacing: 0.64px;
					max-width: 440px;
					color: $mediumWhite;
				}

				.top__offer__timer {
					display: flex;
					gap: 24px;

					.top__offer__timer__unit {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 62px;
						height: 62px;
						background: $white;
						border-radius: 50%;

						span {
							display: block;
							color:$black;

							&:first-child {
								font-weight: 600;
								font-size: 16px;
							}

							&:last-child {
								font-weight: 00;
								font-size: 11px;
							}
						}
					}
				}

				.redBtn {
					background: $green;
					color: $mediumWhite;

					&:hover {
						background: #00d154;
					}
				}
			}

			.top__offer__right {
				img {
					display: block;
					width: 100%;
				}
			}

			@media screen and (max-width: 1124px) {
				flex-wrap: wrap;
				justify-content: center;
				gap: 16px;
				padding: 36px 30px;

				.top__offer__left {
					gap: 16px;
					align-items: center;

					.top__offer__title {
						text-align: center;
					}
				}
			}

			@media screen and (max-width: $mobileS) {
				.top__offer__left {
					.top__offer__timer {
						flex-wrap: wrap;
						justify-content: center;
						gap: 12px;
					}

					.redBtn {
						padding: 12px 36px;
					}
				}
			}
		}

		.items__template__section.nwarr {
			.nwarr__items {
				display: flex;
				gap: 30px;
				margin-top: 60px;

				.nwarr__item {
					background:$black;
					position: relative;
					border-radius: $br;

					.nwarr__item__content {
						position: absolute;
						left: 24px;
						bottom: 24px;

						.nwarr__item__title {
							font-family: "Inter", serif;
							font-weight: 600;
							font-size: min(24px, max(10px + 2vw));
							letter-spacing: 0.48px;
							color: $mediumWhite;
							margin: 0;
						}

						.nwarr__item__about {
							margin: 8px 0px;
							font-size: min(14px, max(5px + 2vw));
							font-weight: 400;
							color: $mediumWhite;
							max-width: 255px;
						}

						a {
							display: block;
							font-size: min(16px, max(6px + 2vw));
							font-weight: 500;
							color: $white;
							text-decoration: none;
							width: fit-content;
							border-bottom: 1px solid $white;

						}
					}

					.nwarr__item__image {
						img {
							display: block;
						}
					}
				}

				.nwarr__item__left {
					display: flex;
					flex-direction: column;
					gap: 30px;

					.nwarr__item__bottom {
						display: flex;
						gap: 30px;
					}

					.nwarr__item.wmc {
						.nwarr__item__content {
							.nwarr__item__about {
								margin: 16px 0px;

								@media screen and (max-width: $mobileS) {
									margin: 0px 0px;
								}
							}
						}

						.nwarr__item__image {
							padding-left: 138px;
						}
					}

					.nwarr__item__bottom {
						.nwarr__item.spk {
							.nwarr__item__image {
								padding: 32px 40px;
							}
						}

						.nwarr__item.prf {
							.nwarr__item__image {
								padding: 38px 35px 43px 34px;
							}
						}
					}

					@media screen and (max-width: $mobileS) {
						gap: 15px;

						.nwarr__item__bottom {
							gap: 15px;
						}
					}
				}

				.nwarr__item.ps5 {
					display: flex;
					align-items: flex-end;

					.nwarr__item__content {
						left: 32px;
						bottom: 32px;
					}

					.nwarr__item__about {
						margin: 16px 0px;
					}

					.nwarr__item__image {
						padding: 90px 30px 0px 30px;
					}
				}

				@media screen and (max-width: 1234px) {
					flex-wrap: wrap;
					justify-content: center;
				}

				@media screen and (max-width: $mobileL) {
					margin-top: 30px;

					.nwarr__item {
						.nwarr__item__image {
							img {
								width: 100%;
							}
						}
					}
				}

				@media screen and (max-width: $mobileS) {
					gap: 15px;
					.nwarr__item {
						.nwarr__item__content {
							left: 8px;
							bottom: 8px;

							.nwarr__item__about {
								margin: 0px 0px;
								max-width: 180px;
							}
						}
					}

					.nwarr__item.ps5 {
						.nwarr__item__content {
							left: 8px;
							bottom: 8px;
						}
					}
				}
			}
		}

		.market__pref {
			.market__pref__units {
				display: flex;
				justify-content: center;
				gap: 96px;

				.market__pref__unit {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
	
					.pref__unit__title {
						margin: 24px 0px 8px 0px;
						font-weight: 600;
						font-size: 20px;
						color: $black;
						text-align: center;
					}
	
					.pref__unit__about {
						margin: 0px;
						font-weight: 400;
						font-size: 14px;
						color: $black;
						text-align: center;
					}
				}
			}

			.scroll__up__btn {
				display: flex;
				justify-content: flex-end;
				margin-top: 64px;
				.scroll__up__btn__arrow {
					display: flex;
					justify-content: center;
					align-items: center;
					background: $mediumGray;
					width: 46px;
					height: 46px;
					border-radius: 50% 50%;
					cursor: pointer;
	
					svg {
						width: 20px;
						height: 20px;
						transform: rotate(-90deg);
	
						path {
							transition: fill $trs;
							fill: $black;
						}
					}
	
					&:hover {
						svg {
							path {
								fill: $red;
							}
						}
					}
				}
			}

			@media screen and (max-width: $tabletL) {
				.market__pref__units {
					flex-wrap: wrap;
				}
			}

			@media screen and (max-width: $mobileM) {
				.scroll__up__btn {
					margin-top: 32px;
				}
				.market__pref__units {
					gap: 48px;

					.market__pref__unit {
						.pref__unit__title {
							margin: 16px 0px 8px 0px;
						}
					}
				}
			}
		}
	}
}

footer {
	background: $black;
	padding: 80px 0px 24px 0px;

	@media screen and (max-width: $mobileM) {
		padding: 32px 0px 24px 0px;
	}

	.container {

		.footer__content {
			display: flex;
			justify-content: space-between;
			gap: 24px;

			.footer__content__branch {
				form {
					position: relative;

					input {
						background: $black;
						border-radius: $br;
						padding: 12px 48px 12px 16px;
						border: none;
						outline: 0;
						width: 217px;
						height: 48px;
						font-size: 14px;
						color: $mediumWhite;
						border: 1.5px solid $mediumWhite;

						&::placeholder {
							font-size: 16px;
							color: $mediumWhite;
							opacity: 0.4;
						}
					}

					button {
						position: absolute;
						right: 8px;
						top: 11px;
						border: none;
						background: none;
						cursor: pointer;

						svg:hover {
							path {
								stroke: $green;
								transition: $trs;
							}
						}
					}
				}

				span {
					font-weight: 500;
					font-size: 12px;
					color: $mediumWhite;
					opacity: 0.7;
					margin-bottom: 12px;
					display: block;
				}

				.footer__logo {
					font-family: "Inter", sans-serif;
					font-weight: 700;
					font-size: 24px;
					color: $mediumWhite;
					margin: 0px 0px 24px 0px;
				}

				.footer__headings.esub {
					a {
						text-decoration: none;
						color: $mediumWhite;
						display: block;
					}

				}

				.footer__headings {
					font-weight: 500;
					font-size: 20px;
					color: $mediumWhite;
					margin: 0px 0px 24px 0px;
				}

				.footer__link {
					display: block;
					text-decoration: none;
					font-weight: 400;
					font-size: 16px;
					color: $mediumWhite;
					margin-bottom: 16px;
					max-width: 206px;
				}

				.footer__dwn {
					display: flex;
					gap: 12px;

					.footer__dwn__apps {
						display: flex;
						flex-direction: column;
						gap: 12px;
					}
				}

				.footer__social {
					display: flex;
					gap: 30px;
					margin-top: 32px;

					svg {
						&:hover {
							path {
								fill: $green;
								transition: $trs;
							}
						}
					}
				}
			}

			@media screen and (max-width: $tabletL) {
				flex-wrap: wrap;
				justify-content: center;
			}

			@media screen and (max-width: $mobileM) {
				.footer__content__branch {
					width: 220px;
				}
			}
		}

		p {
			font-size: 16px;
			color: $white;
			text-align: center;
			margin: 76px 0px 0px 0px;
			opacity: 0.2;
		}

		@media screen and (max-width: $mobileM) {
			p {
				margin: 32px 0px 0px 0px;
			}
		}
	}
}