@import "../../node_modules/normalize.css/normalize";
@import "./components/addons.scss";
@import "./components/variables.scss";
@import "./components/global.scss";

@import "./components/nav.scss";
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/footer.scss";

body {
	font-family: 'Poppins', sans-serif;
}