header {
	margin-top: 40px;

	@media screen and (max-width: 1110px) {
		margin-top: 20px;
	}

	.container {
		display: flex;
		gap: 64px;

		.header__menu {
			position: relative;

			.header__menu__item {
				margin-bottom: 16px;
				width: 217px;
				height: 24px;

				a {
					font-size: 16px;
					color: $black;
					text-decoration: none;
					white-space: nowrap;
					width: 100%;
					line-height: 24px;
				}

				&:last-child {
					margin-bottom: 0px;
				}
			}

			&::after {
				content: "";
				width: 0.5px;
				height: calc(100% + 40px);
				position: absolute;
				background: $black;
				top: -40px;
				right: -16px;
				opacity: 0.3;
			}
		}

		.header__slider {
			background: $black;
			max-width: 892px;
			min-height: 344px;

			.header__slider__content {
				display: flex;
				justify-content: space-between;

				.header__slider__left {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 58px 0px 0px 64px;

					.slider__title {
						display: flex;
						align-items: center;
						gap: 24px;

						img {
							display: block;
						}

						p {
							font-size: 16px;
							line-height: 24px;
							color: $mediumWhite;
						}
					}

					h2 {
						font-family: "Inter", sans-serif;
						font-size: min(48px, max(24px + 2vw));
						font-weight: 600;
						color: $mediumWhite;
						line-height: 60px;
						margin: 0px;
						letter-spacing: 0.04em;
					}

					.slider__link {
						a {
							display: flex;
							align-items: center;
							gap: 12px;
							text-decoration: none;
							width: fit-content;
							
							span {
								color: $mediumWhite;
								font-weight: 500;
								font-size: 16px;
								line-height: 24px;
								border-bottom: 1px solid $mediumWhite;
							}
						}
					}
				}

				.header__slider__right {
					width: 495px;
					height: 286px;
					padding-top: 16px;

					img {
						display: block;
						width: inherit;
						height: inherit;
					}
				}
			}

			.header__slider__scroll {
				display: flex;
				justify-content: center;
				gap: 12px;
				margin: 32px auto 12px auto;

				.dot {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: #fff;
					opacity: 0.5;
					cursor: pointer;

					&.active__dot {
						background: $red;
						border: 2px solid #fff;
						opacity: 1;
					}
				}
			}
		}

		@media screen and (max-width: 1110px) {
			gap: 20px;
			flex-wrap: wrap;

			.header__menu {
				display: flex;
				gap: 32px;
				position: unset;
				overflow-x: auto;
				overflow-y: hidden;

				&::-webkit-scrollbar {
					height: 8px;
				}

				&::after {
					display: none;
					position: unset;
				}
			}

			.header__slider {
				margin: 0 auto;
			}
		}

		@media screen and (max-width: 820px) {
			.header__slider {
				.header__slider__content {
					flex-wrap: wrap;
					justify-content: center;

					.header__slider__left {
						padding: 8px 0px 0px 8px;

						.slider__title {
							justify-content: center;
						}

						.slider__link {
							a {
								margin: 0 auto;
							}
						}
					}

					.header__slider__right {
						padding-top: 0px;
					}
				}

				.header__slider__scroll {
					margin-top: 16px;
				}
			}
		}

		@media screen and (max-width: $mobileM) {
			.header__slider {
				.header__slider__content {
					.header__slider__left {
						h2 {
							text-align: center;
							line-height: 45px;
						}
					}
					.header__slider__right {
						width: 100%;
						height: unset;
					}
				}
			}
		}
	}
}