main {
	margin-top: 140px;
	margin-bottom: 32px;

	.container {
		.items__template__section {
			border-bottom: 0.5px solid #00000030;
			margin-bottom: 70px;
			padding-bottom: 70px;

			&:nth-child(3) {
				border-bottom: unset;
			}

			&:nth-child(5) {
				border-bottom: unset;
			}

			&:nth-child(6) {
				border-bottom: unset;
			}

			@media screen and (max-width: $mobileM) {
				&:nth-child(6) {
					margin-bottom: unset;
				}
			}

			.its__category__title {
				color: $red;
				font-size: 16px;
				font-weight: 600;
				position: relative;
				padding-left: 32px;
				line-height: 40px;
				margin: 0px 0px 24px 0px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 20px;
					height: 40px;
					border-radius: $br;
					background: $red;
				}
			}

			.its__header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.itsh__left {
					display: flex;
					align-items: center;
					gap: 87px;

					.its__header__title {
						font-family: "Inter", sans-serif;
						font-weight: 600;
						font-size: min(36px, max(18px + 2vw));
						margin: 0;
						letter-spacing: 0.64px;
					}

					.timer {
						display: flex;
						align-items: center;
						gap: 17px;

						h5 {
							margin: 0;

							span {
								display: block;

								&:first-child {
									font-weight: 500;
									color: $black;
									margin-bottom: 4px;
									font-style: 12px;
								}

								&:last-child {
									font-size: min(32px, max(16px + 2vw));
									font-family: "Inter", sans-serif;
									font-weight: 700;
								}
							}
						}

						.seperator {
							margin-top: 12px;

							div {
								width: 4px;
								height: 4px;
								background: $red;
								border-radius: 50% 50%;
								margin-bottom: 8px;

								&:last-child {
									margin-bottom: unset;
								}
							}
						}
					}
				}

				.itsh__right {
					display: flex;
					gap: 8px;

					.left__btn, 
					.right__btn {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						width: 46px;
						height: 46px;
						border-radius: 50% 50%;
						cursor: pointer;

						svg {
							width: 20px;
							height: 20px;

							path {
								transition: fill $trs;
								fill: $black;
							}
						}

						&:first-child {
							svg {
								transform: rotate(180deg);
							}
						}

						&:hover {
							svg {
								path {
									fill: $red;
								}
							}
						}
					}
				}
			}

			.its__items {
				margin-top: 40px;
				display: flex;
				gap: 30px;

				.its__item {
					.its__item__header {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						padding: 12px;
						border-radius: $br;
						position: relative;
						max-width: 270px;
						max-height: 250px;
						min-width: 270px;
						min-height: 250px;
						overflow: hidden;

						.sale {
							position: absolute;
							top: 12px;
							left: 12px;
							display: flex;
							justify-content: center;
							align-items: center;
							width: fit-content;
							background: $red;
							font-size: 12px;
							color: $white;
							padding: 4px 12px;
							border-radius: $br;
							user-select: none;
						}

						.sale__eop {
							position: absolute;
							top: 12px;
							left: 12px;
							display: flex;
							justify-content: center;
							align-items: center;
							width: fit-content;
							background: $green;
							font-size: 12px;
							color: $mediumWhite;
							padding: 4px 12px;
							border-radius: $br;
							user-select: none;
						}

						.wishlist,
						.preview {
							background: $white;
							width: 34px;
							height: 34px;
							border-radius: 50% 50%;
							cursor: pointer;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						.wishlist {
							position: absolute;
							top: 12px;
							right: 12px;

						}
						
						.preview {
							position: absolute;
							top: 54px;
							right: 12px;
						}

						.to__basket {
							position: absolute;
							bottom: -100px;
							left: 0;
							width: 100%;
							padding: 8px 16px;
							text-align: center;
							background: $black;
							color: $white;
							cursor: pointer;
							transition: all $trs;

							&:hover {
								background: $green;
								color: $black;
							}

						}

						.image {
							max-width: 191px;
							max-height: 180px;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}
					}

					.its__item__title {
						font-weight: 500;
						margin: 16px 0px 0px 0px;

						a {
							text-decoration: none;
							color: $black;
							font-size: 16px;
						}
					}

					.its__item__price {
						display: flex;
						gap: 12px;
						margin: 8px 0px;

						.current__price,
						.old__price {
							margin: 0;
							font-weight: 500;
						}

						.current__price {
							color: $red;
						}

						.old__price {
							color: $black;
							opacity: 0.5;
							text-decoration: line-through;
						}

						.its__item__review {
							display: flex;
							align-items: center;
							gap: 8px;
	
							.comments__count {
								p {
									font-style: 14px;
									color: $black;
									opacity: 0.5;
									font-weight: 600;
									margin: 0;
								}
							}
						}
					}

					.its__item__review {
						display: flex;
						align-items: center;
						gap: 8px;

						.comments__count {
							p {
								font-style: 14px;
								color: $black;
								opacity: 0.5;
								font-weight: 600;
								margin: 0;
							}
						}
					}

					.its__item__dots {
						display: flex;
						gap: 8px;
					}

					&:hover {
						.its__item__header {
							.to__basket {
								bottom: 0px;
							}
						}
					}
				}
			}

			.categories {
				display: flex;
				gap: 30px;
				margin-top: 60px;

				.category {
					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 170px;
						height: 145px;
						border: 1px solid #00000030;
						border-radius: $br;
						transition: all $trs;
						text-decoration: none;

						svg {
							margin-bottom: 16px;

							path,
							line {
								transition: inherit;
							}
						}

						span {
							font-style: 16px;
							color: $black;
							transition: inherit;
						}

						&:hover {
							background: $red;
							border-color: $red;

							svg {
								path,
								line {
									stroke: $white;
								}
							}

							span {
								color: $white;
							}
						}
					}
				}
			}

			.redBtn.bottom {
				margin: 60px auto 0px auto;
			}
		}

		.items__template__section.bsp {
			@media screen and (max-width: 1234px) {
				.its__items {
					flex-wrap: wrap;
					justify-content: center;
				}
			}

			@media screen and (max-width: $mobileM) {
				.its__header {
					flex-direction: column;
					gap: 16px;

					.itsh__left {
						.its__header__title {
							text-align: center;
						}
					}

					.itsh__right {
						.redBtn {
							padding: 12px 36px;
						}
					}
				}
			}
		}

		.top__offers {
			display: flex;
			justify-content: space-between;
			max-width: 1170px;
			padding: 70px 58px;
			background: $black;
			margin-bottom: 70px;

			.top__offer__left {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.top__offer__categories	{
					margin: 0;

					a {
						font-weight: 600;
						font-style: 16px;
						text-decoration: none;
						color: $green;
					}
				}

				.top__offer__title {
					margin: 0;
					font-family: "Inter", serif;
					font-weight: 600;
					font-size: min(48px, max(24px + 2vw));
					letter-spacing: 0.64px;
					max-width: 440px;
					color: $mediumWhite;
				}

				.top__offer__timer {
					display: flex;
					gap: 24px;

					.top__offer__timer__unit {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 62px;
						height: 62px;
						background: $white;
						border-radius: 50%;

						span {
							display: block;
							color:$black;

							&:first-child {
								font-weight: 600;
								font-size: 16px;
							}

							&:last-child {
								font-weight: 00;
								font-size: 11px;
							}
						}
					}
				}

				.redBtn {
					background: $green;
					color: $mediumWhite;

					&:hover {
						background: #00d154;
					}
				}
			}

			.top__offer__right {
				img {
					display: block;
					width: 100%;
				}
			}

			@media screen and (max-width: 1124px) {
				flex-wrap: wrap;
				justify-content: center;
				gap: 16px;
				padding: 36px 30px;

				.top__offer__left {
					gap: 16px;
					align-items: center;

					.top__offer__title {
						text-align: center;
					}
				}
			}

			@media screen and (max-width: $mobileS) {
				.top__offer__left {
					.top__offer__timer {
						flex-wrap: wrap;
						justify-content: center;
						gap: 12px;
					}

					.redBtn {
						padding: 12px 36px;
					}
				}
			}
		}

		.items__template__section.nwarr {
			.nwarr__items {
				display: flex;
				gap: 30px;
				margin-top: 60px;

				.nwarr__item {
					background:$black;
					position: relative;
					border-radius: $br;

					.nwarr__item__content {
						position: absolute;
						left: 24px;
						bottom: 24px;

						.nwarr__item__title {
							font-family: "Inter", serif;
							font-weight: 600;
							font-size: min(24px, max(10px + 2vw));
							letter-spacing: 0.48px;
							color: $mediumWhite;
							margin: 0;
						}

						.nwarr__item__about {
							margin: 8px 0px;
							font-size: min(14px, max(5px + 2vw));
							font-weight: 400;
							color: $mediumWhite;
							max-width: 255px;
						}

						a {
							display: block;
							font-size: min(16px, max(6px + 2vw));
							font-weight: 500;
							color: $white;
							text-decoration: none;
							width: fit-content;
							border-bottom: 1px solid $white;

						}
					}

					.nwarr__item__image {
						img {
							display: block;
						}
					}
				}

				.nwarr__item__left {
					display: flex;
					flex-direction: column;
					gap: 30px;

					.nwarr__item__bottom {
						display: flex;
						gap: 30px;
					}

					.nwarr__item.wmc {
						.nwarr__item__content {
							.nwarr__item__about {
								margin: 16px 0px;

								@media screen and (max-width: $mobileS) {
									margin: 0px 0px;
								}
							}
						}

						.nwarr__item__image {
							padding-left: 138px;
						}
					}

					.nwarr__item__bottom {
						.nwarr__item.spk {
							.nwarr__item__image {
								padding: 32px 40px;
							}
						}

						.nwarr__item.prf {
							.nwarr__item__image {
								padding: 38px 35px 43px 34px;
							}
						}
					}

					@media screen and (max-width: $mobileS) {
						gap: 15px;

						.nwarr__item__bottom {
							gap: 15px;
						}
					}
				}

				.nwarr__item.ps5 {
					display: flex;
					align-items: flex-end;

					.nwarr__item__content {
						left: 32px;
						bottom: 32px;
					}

					.nwarr__item__about {
						margin: 16px 0px;
					}

					.nwarr__item__image {
						padding: 90px 30px 0px 30px;
					}
				}

				@media screen and (max-width: 1234px) {
					flex-wrap: wrap;
					justify-content: center;
				}

				@media screen and (max-width: $mobileL) {
					margin-top: 30px;

					.nwarr__item {
						.nwarr__item__image {
							img {
								width: 100%;
							}
						}
					}
				}

				@media screen and (max-width: $mobileS) {
					gap: 15px;
					.nwarr__item {
						.nwarr__item__content {
							left: 8px;
							bottom: 8px;

							.nwarr__item__about {
								margin: 0px 0px;
								max-width: 180px;
							}
						}
					}

					.nwarr__item.ps5 {
						.nwarr__item__content {
							left: 8px;
							bottom: 8px;
						}
					}
				}
			}
		}

		.market__pref {
			.market__pref__units {
				display: flex;
				justify-content: center;
				gap: 96px;

				.market__pref__unit {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
	
					.pref__unit__title {
						margin: 24px 0px 8px 0px;
						font-weight: 600;
						font-size: 20px;
						color: $black;
						text-align: center;
					}
	
					.pref__unit__about {
						margin: 0px;
						font-weight: 400;
						font-size: 14px;
						color: $black;
						text-align: center;
					}
				}
			}

			.scroll__up__btn {
				display: flex;
				justify-content: flex-end;
				margin-top: 64px;
				.scroll__up__btn__arrow {
					display: flex;
					justify-content: center;
					align-items: center;
					background: $mediumGray;
					width: 46px;
					height: 46px;
					border-radius: 50% 50%;
					cursor: pointer;
	
					svg {
						width: 20px;
						height: 20px;
						transform: rotate(-90deg);
	
						path {
							transition: fill $trs;
							fill: $black;
						}
					}
	
					&:hover {
						svg {
							path {
								fill: $red;
							}
						}
					}
				}
			}

			@media screen and (max-width: $tabletL) {
				.market__pref__units {
					flex-wrap: wrap;
				}
			}

			@media screen and (max-width: $mobileM) {
				.scroll__up__btn {
					margin-top: 32px;
				}
				.market__pref__units {
					gap: 48px;

					.market__pref__unit {
						.pref__unit__title {
							margin: 16px 0px 8px 0px;
						}
					}
				}
			}
		}
	}
}